{% extends 'base.html' %}

{% block title %}{{ study.name }} - Studie Einzelansicht{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/study_overview">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="/study/{{study.id}}">{{ study }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Teilnehmer hinzufügen</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<div class="container">
  <form action="/study/{{study.id}}/add_participant" method="post">
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="surname">Nachname</label>
        <input type="text" class="form-control" name="surname" placeholder="Nachname" required>
      </div>
      <div class="form-group col-md-6">
        <label for="forename">Vorname</label>
        <input type="text" class="form-control" name="forename" placeholder="Vorname" required>
      </div>
    </div>

    <div class="form-group">
      <label for="gender">Geschlecht</label>
      <select name="gender" class="form-control">
        <option value="other">Anderes</option>
        <option value="male">Männlich</option>
        <option value="female">Weiblich</option>
      </select>
      <div>
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Geburtsdatum</label>
      <input type="date" class="form-control" name="birthday" required>
    </div>
    <button type="submit" class="btn btn-primary">Teilnehmer erstellen</button>
  </form>
</div>

{% endblock %}
