{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Neue Studie erstellen</h2>
<form action="/new_study" method="post">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Beschreibung</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="description" rows="3" placeholder="Beschreibung"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Startzeitpunkt</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" name="start_time" placeholder="Startzeitpunkt" value="{{start_time}}">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Endzeitpunkt</label>
    <div class="col-sm-10">
      <input type="datetime-local" class="form-control" name="end_time" placeholder="Endzeitpunkt" value="{{end_time}}">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">Sensoren</div>
    <div class="col-sm-10">
    {% for sensor in sensors %}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="sensor.{{sensor.name}}">
        <label class="form-check-label" for="sensor.{{sensor.name}}">
          {{ sensor.name }}
        </label>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Studie erstellen</button>
    </div>
  </div>
</form>
{% endblock %}
