{% extends 'base.html' %}

{% block title %}{{ study.name }} - Studie Einzelansicht{% endblock %}

{% block breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/study_overview">Übersicht</a></li>
    <li class="breadcrumb-item"><a href="/study/{{study.id}}">{{ study }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ participant }}</li>
  </ol>
</nav>

{% endblock %}

{% block content %}


<div class="container">
  {% if not participant.is_registered %}
  <div class="jumbotron">
    <h1 class="display-4">App Integration</h1>
    <p class="lead">
    <div class="text-center">
      <img src="data:image/png;base64,{{study.qrcode_participant_login(participant)}}" alt="" style="max-width: 100%">
    </div>
    </p>
    <hr class="my-4">
    <p>
    Bitten Sie
    {{ participant.name }}, die App zu öffnen und den
    gezeigten QR-Code zu scannen.
    Dadurch wird die App mit der Studie verbunden.
    Gesammelte Daten werden hier angezeigt.
    </p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Mehr erfahren</a>
    </p>
  </div>
  {% endif %}

  <div class="card">
    <div class="card-header">
      <h2>Patient reported outcomes</h2>
    </div>
    <div class="card-body">
      <p>
        Alle geplanten und vergangenen Patient-reported-outcomes (PROs) werden hier angezeigt.
        Sie können außerdem neue PROs anlegen.
      </p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Datum</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Name der PRO</th>
          <th>Datum der PRO</th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Gesammelte Daten</h2>
    </div>
    <div class="card-body">
      <p>
        Hier finden Sie die gesammelten Rohdaten des Teilnehmers. Die Daten sind in <code>.realm</code> Datenbanken gespeichert,
        weshalb Sie eine spezielle Anwensung wie Realm-Studio zum öffnen der Datenbank benötigen.
      </p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Downloadlink</th>
        </tr>
        </thead>
        <tbody>
        {% for file in study.get_participant_sensor_data_files(participant) %}
        <tr>
          <th scope="row"><a href="/download_realm/{{study.id}}/{{participant.id}}/{{file}}" download="{{file}}">{{ file }}</a></th>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>App Status</h2>
    </div>
    <div class="card-body">
      <p>
        In dieser Ansicht können Sie den Status der App für den Teilnehmer einsehen.
        Die Daten wurden beim Registrieren des Teilnehmers durch das Scannen des QR-Codes gesammelt.
        Diese Daten können nicht mehr geändert werden.
      </p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Wert</th>
        </tr>
        </thead>
        <tbody>
        <tr {{ "class=table-success" if participant.is_registered else "class=table-warning" }}>
          <th scope="row">Registriert</th>
          <td>{{ "registriert" if participant.is_registered else "nicht registriert"}}</td>
        </tr>
        <tr>
          <th scope="row">Betriebssystem</th>
          <td>{{ participant.smartphone.operating_system }}</td>
        </tr>
        <tr>
          <th scope="row">Marke</th>
          <td>{{ participant.smartphone.brand }}</td>
        </tr>
        <tr>
          <th scope="row">Modell</th>
          <td>{{ participant.smartphone.model }}</td>
        </tr>
        <tr>
          <th scope="row">Monti-Version</th>
          <td>{{ participant.smartphone.monti_version }}</td>
        </tr>
        <tr>
          <th scope="row">Smartphone-ID</th>
          <td>{{ participant.smartphone.id }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Teilnehmer bearbeiten</h2>
    </div>
    <div class="card-body">
      <form action="/study/{{study.id}}/participant/{{participant.id}}/edit_participant" method="post">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="surname">Nachname</label>
            <input type="text" class="form-control" name="surname" placeholder="Nachname" value="{{ participant.surname }}" required>
          </div>
          <div class="form-group col-md-6">
            <label for="forename">Vorname</label>
            <input type="text" class="form-control" name="forename" placeholder="Vorname" value="{{ participant.forename }}" required>
          </div>
        </div>

        <div class="form-group">
          <label for="birthday">Geburtsdatum</label>
          <input type="date" class="form-control" name="birthday" value='{{ participant.birthday.strftime("%Y-%m-%d") }}' required>
        </div>

        <div class="form-group">
          <label for="gender">Geschlecht</label>
          <select name="gender" class="form-control">
            <option value="male" {% if participant.gender == "male" %} selected {% endif %}>Männlich</option>
            <option value="female" {% if participant.gender == "female" %} selected {% endif %}>Weiblich</option>
            <option value="other" {% if participant.gender == "other" %} selected {% endif %}>Anderes</option>
          </select>
          <div>
          </div>
        </div>

        <div class="form-group">
          <label for="participant_id">Teilnehmer-ID</label>
          <div>
            <input class="form-control" type="text" name="participant_id" placeholder="{{ participant.id }}" readonly>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Änderungen speichern</button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Ab hier vorsichtig</h2>
    </div>
    <div class="card-body">
      <form action="/study/{{study.id}}/participant/{{participant.id}}/delete_participant" method="post">
        <div class="form-group">
          <label for="participant_id">Teilnehmer-ID</label>
          <input class="form-control" name="participant_id" type="text" value="{{participant.id}}" readonly>
        </div>
        <button type="submit" class="btn btn-danger">Teilnehmer löschen</button> 
      </form>
    </div>
  </div>
</div>
{% endblock %}
