{% extends 'base.html' %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<h2>Laufende Studien</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Start</th>
      <th scope="col">Ende</th>
      <th scope="col">Sensoren</th>
    </tr>
  </thead>
  <tbody>
    {% for s in studies %}
    <tr>
      <th scope="row">{{ s.name }}</th>
      <td>{{ s.description }}</td>
      <td>{{ str(s.start) }}</td>
      <td>{{ str(s.end) }}</td>
      <td>{{ str(s.sensors) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Beendete Studien</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Start</th>
      <th scope="col">Ende</th>
      <th scope="col">Sensoren</th>
    </tr>
  </thead>
  <tbody>
    {% for s in studies %}
    <tr>
      <th scope="row">{{ s.name }}</th>
      <td>{{ s.description }}</td>
      <td>{{ str(s.start) }}</td>
      <td>{{ str(s.end) }}</td>
      <td>{{ str(s.sensors) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
