{% extends 'base.html' %}

{% block title %}{{ study.name }} - Studie Einzelansicht{% endblock %}

{% block breadcrumb %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/study_overview">Übersicht</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ study }}</li>
  </ol>
</nav>

{% endblock %}

{% block content %}

<div class="container">
  <h2>{{study.name}}</h2>

  <div class="card">
    <div class="card-header">
      <h3>Studieninformationen</h3>
    </div>
    <div class="card-body">
      <form action="/edit_study/{{study.id}}" method="post">
        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-lg" name="name" placeholder="Name" value="{{ study.name }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="studyid" class="col-sm-2 col-form-label">Study-ID</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="studyid" placeholder="{{ study.id }}" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Beschreibung</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" rows="3" placeholder="Beschreibung">{{ study.description }}</textarea>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Startzeitpunkt</label>
          <div class="col-sm-10">
            <input type="datetime-local" class="form-control" name="start_time" placeholder="Startzeitpunkt" value="{{ study.start }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Endzeitpunkt</label>
          <div class="col-sm-10">
            <input type="datetime-local" class="form-control" name="end_time" placeholder="Endzeitpunkt" value="{{ study.end }}">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2">Sensoren</div>
          <div class="col-sm-10">
            {% for sensor in sensors %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="sensor.{{sensor.name}}" {% if study.tracks_sensor(sensor) %}checked{% endif %}>
              <label class="form-check-label" for="sensor.{{sensor.name}}">
                {{ sensor.name }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Änderungen speichern</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3>Teilnehmer</h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nachname</th>
            <th scope="col">Vorname</th>
            <th scope="col">Letzter Wert</th>
          </tr>
        </thead>
        <tbody>
          {% for participant in study.participants %}
          <tr>
            <th scope="row">{{ loop.index0+1 }}</th>
            <td><a href="/study/{{study.id}}/participant/{{participant.id}}">{{ participant.surname }}</a></td>
            <td>{{ participant.forename }}</td>
            <td>{{ study.get_participant_last_database_modification(participant) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="/study/{{study.id}}/add_participant" role="button">Teilnehmer hinzufügen</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Ab hier vorsichtig</h2>
    </div>
    <div class="card-body">
      <form action="/delete_study/{{study.id}}" method="post">
        <div class="form-group">
          <label for="study_id">Study-ID</label>
          <input class="form-control" name="participant_id" type="text" value="{{study.id}}" readonly>
        </div>
        <button type="submit" class="btn btn-danger">Studie löschen</button>
      </form>
    </div>
  </div>
  
</div>

{% endblock %}
